langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-classic
sentence-transformers
pypdf
Flask
Flask-Cors
faiss-cpu
python-dotenv
gunicorn